/DesignPatterns/Singleton/bin/Debug/net7.0
/DesignPatterns/Singleton/obj/Debug/net7.0
/DesignPatterns/.vs/DesignPatterns/DesignTimeBuild
/DesignPatterns/.vs/DesignPatterns/FileContentIndex
/DesignPatterns/.vs/DesignPatterns/v17
/DesignPatterns/.vs/DesignPatterns/config
/DesignPatterns/.vs/ProjectEvaluation
/DesignPatterns/TestApi/bin/Debug/net7.0
/DesignPatterns/TestApi/obj/Debug/net7.0
/DesignPatterns/TestApi/obj
/DesignPatterns/Singleton/obj
